In [1]:
import pandas as pd
import numpy as np
import os
import time
import sys
import requests
from requests.packages.urllib3.util.retry import Retry
from requests.adapters import HTTPAdapter
import json
from random import randint
from sqlalchemy import create_engine
from datetime import datetime, timedelta
from observations import get_observation
sys.path.append('../../core')
from mysql import MYSQL

In [13]:
pd.options.mode.chained_assignment = None
# db_connection = 'mysql+pymysql://douzi@traffic110:1qaz!QAZ2wsx@WSX@traffic110.mysql.database.azure.com/traffic'
db_connection = 'mysql+pymysql://root:@localhost/accident'
conn = create_engine(db_connection)
df = pd.read_sql("""
                 SELECT a.ACCIDENT_NO, ACCIDENTDATE, ACCIDENTTIME, n.Lat, n.Long, a.SPEED_ZONE  FROM ACCIDENT as a
                        LEFT JOIN NODE as n ON a.ACCIDENT_NO = n.ACCIDENT_NO
                        """, conn)

In [14]:
for p in range(df.shape[0]):
    if df['ACCIDENT_NO'][p] == 'T20180000340':
        kill = p
print(kill)
df = df.loc[kill:]
df.reset_index(level=None,drop=True, inplace=True)
print(df)

167460
       ACCIDENT_NO ACCIDENTDATE ACCIDENTTIME       Lat       Long  SPEED_ZONE
0     T20180000340   2017-12-30     20:00:00 -37.93495  145.04957          70
1     T20180000341   2018-01-06     14:00:08 -37.76901  145.12282          50
2     T20180000343   2018-01-06     17:00:00 -37.81670  144.89103          50
3     T20180000351   2018-01-06     23:00:00 -38.10612  147.06399          50
4     T20180000352   2018-01-06     15:00:05 -37.06743  144.22230          60
5     T20180000356   2018-01-07     00:00:04 -34.23895  142.09712          80
6     T20180000359   2018-01-07     00:00:05 -37.63102  144.92666          60
7     T20180000360   2018-01-03     13:00:00 -38.00228  145.21775          60
8     T20180000365   2018-01-07     10:00:00 -37.86910  147.01919         100
9     T20180000366   2018-01-06     13:00:00 -37.51763  145.87339         100
10    T20180000367   2017-10-22     14:00:00 -37.79305  144.97572          60
11    T20180000372   2018-01-07     11:00:00 -37.80924  144.97297          40
12    T20180000374   2018-01-07     14:00:00 -38.13301  144.61743          80
13    T20180000375   2018-01-07     12:00:05 -37.59014  144.91070          60
14    T20180000379   2018-01-07     14:00:05 -36.93206  145.66541          60
15    T20180000380   2018-01-07     12:00:07 -37.93005  145.14188          80
16    T20180000382   2017-12-26     17:00:05 -36.98209  147.49878         999
17    T20180000385   2018-01-07     18:00:00 -38.57628  143.95511          80
18    T20180000386   2018-01-07     16:00:00 -37.82493  145.11349          60
19    T20180000387   2018-01-07     08:00:05 -38.02410  144.41397          50
20    T20180000387   2018-01-07     08:00:05 -38.02410  144.41397          50
21    T20180000388   2018-01-07     17:00:04 -38.27545  145.07132         100
22    T20180000389   2018-01-07     19:00:00 -37.75546  144.96412          60
23    T20180000390   2018-01-07     16:00:00 -37.96504  145.21629          50
24    T20180000392   2018-01-07     17:00:00 -38.13286  145.29532          80
25    T20180000393   2018-01-07     20:00:04 -38.09575  145.26453          50
26    T20180000398   2018-01-07     20:00:08 -37.74037  145.00365          60
27    T20180000400   2018-01-07     20:00:00 -36.72297  147.17827         100
28    T20180000402   2018-01-08     03:00:05 -37.73044  144.96383          60
29    T20180000404   2017-12-20     07:00:05 -37.87020  144.76104          60
...            ...          ...          ...       ...        ...         ...
9505  T20180022466   2018-11-30     13:00:05 -37.97991  145.14268         999
9506  T20180022472   2018-11-30     15:00:00 -37.77860  144.97366          60
9507  T20180022475   2018-11-30     15:00:05 -38.16890  145.93211          60
9508  T20180022476   2018-11-30     13:00:00 -37.87382  145.03824          70
9509  T20180022490   2018-11-28     07:00:00 -37.80686  145.03064          40
9510  T20180022493   2018-11-28     19:00:00 -37.57081  143.86507          60
9511  T20180022503   2018-11-30     19:00:00 -37.78173  144.95958          60
9512  T20180022504   2018-11-30     21:00:03 -37.71947  145.08120          60
9513  T20180022506   2018-11-30     21:00:00 -37.64055  144.92878          80
9514  T20180022518   2018-12-01     06:00:00 -37.78795  145.27624          50
9515  T20180022521   2018-12-01     09:00:00 -37.81206  144.94515          70
9516  T20180022531   2018-12-01     10:00:02 -37.56113  145.31982          80
9517  T20180022539   2018-12-01     12:00:00 -37.98382  145.21104          60
9518  T20180022553   2018-12-01     18:00:03 -37.80924  144.95237          60
9519  T20180022557   2018-12-01     07:00:00 -37.79922  145.11826          60
9520  T20180022562   2018-12-01     22:00:03 -37.80550  144.94866          60
9521  T20180022568   2018-12-02     00:00:05 -37.68021  145.02984          50
9522  T20180022577   2018-12-02     07:00:05 -38.34673  144.26108          80
9523  T20180022579   2018-12-02     10:00:05 -38.10030  144.31096          70
9524  T20180022596   2018-12-01     18:00:05 -37.55964  143.85669          60
9525  T20180022604   2018-12-02     19:00:07 -37.96219  145.22496          80
9526  T20180022605   2018-12-02     15:00:05 -37.88019  145.16380          50
9527  T20180022617   2018-12-02     23:00:00 -37.91904  145.35173          60
9528  T20180022622   2018-12-02     22:00:00 -37.87692  144.99800          60
9529  T20180022633   2018-12-03     08:00:05 -36.08545  145.20386         100
9530  T20180022645   2018-11-30     19:00:00 -37.62825  143.88016         999
9531  T20180022657   2018-12-03     08:00:00 -37.80938  145.12556         999
9532  T20180022667   2018-11-29     12:00:00 -38.11403  144.35491          50
9533  T20180022674   2018-12-03     15:00:05 -37.70131  145.10709          30
9534  T20180022686   2018-12-03     19:00:02 -37.95431  145.02515          60

[9535 rows x 6 columns]

In [15]:
# ms = MYSQL(host="traffic110.mysql.database.azure.com",user="douzi@traffic110",pwd="1qaz!QAZ2wsx@WSX",db="traffic")
ms = MYSQL(host="localhost",user="root",pwd="",db="accident")

In [16]:
df['ACCIDENTDATE'] = pd.to_datetime(df['ACCIDENTDATE'])
df['ACCIDENTDATE_FOMAT'] = df['ACCIDENTDATE'].dt.strftime('%Y%m%d')
df['ACCIDENTTIME'] = pd.to_datetime(df['ACCIDENTTIME']).dt.strftime('%H:00:00')
df['Datetime'] = pd.to_datetime(df['ACCIDENTDATE'].apply(str) + ' ' + df['ACCIDENTTIME'])
df['Timestrap'] = df['Datetime'].values.astype(np.int64) // 10 ** 9
print(df)

       ACCIDENT_NO ACCIDENTDATE ACCIDENTTIME       Lat       Long  SPEED_ZONE  \
0     T20180000340   2017-12-30     20:00:00 -37.93495  145.04957          70
1     T20180000341   2018-01-06     14:00:00 -37.76901  145.12282          50
2     T20180000343   2018-01-06     17:00:00 -37.81670  144.89103          50
3     T20180000351   2018-01-06     23:00:00 -38.10612  147.06399          50
4     T20180000352   2018-01-06     15:00:00 -37.06743  144.22230          60
5     T20180000356   2018-01-07     00:00:00 -34.23895  142.09712          80
6     T20180000359   2018-01-07     00:00:00 -37.63102  144.92666          60
7     T20180000360   2018-01-03     13:00:00 -38.00228  145.21775          60
8     T20180000365   2018-01-07     10:00:00 -37.86910  147.01919         100
9     T20180000366   2018-01-06     13:00:00 -37.51763  145.87339         100
10    T20180000367   2017-10-22     14:00:00 -37.79305  144.97572          60
11    T20180000372   2018-01-07     11:00:00 -37.80924  144.97297          40
12    T20180000374   2018-01-07     14:00:00 -38.13301  144.61743          80
13    T20180000375   2018-01-07     12:00:00 -37.59014  144.91070          60
14    T20180000379   2018-01-07     14:00:00 -36.93206  145.66541          60
15    T20180000380   2018-01-07     12:00:00 -37.93005  145.14188          80
16    T20180000382   2017-12-26     17:00:00 -36.98209  147.49878         999
17    T20180000385   2018-01-07     18:00:00 -38.57628  143.95511          80
18    T20180000386   2018-01-07     16:00:00 -37.82493  145.11349          60
19    T20180000387   2018-01-07     08:00:00 -38.02410  144.41397          50
20    T20180000387   2018-01-07     08:00:00 -38.02410  144.41397          50
21    T20180000388   2018-01-07     17:00:00 -38.27545  145.07132         100
22    T20180000389   2018-01-07     19:00:00 -37.75546  144.96412          60
23    T20180000390   2018-01-07     16:00:00 -37.96504  145.21629          50
24    T20180000392   2018-01-07     17:00:00 -38.13286  145.29532          80
25    T20180000393   2018-01-07     20:00:00 -38.09575  145.26453          50
26    T20180000398   2018-01-07     20:00:00 -37.74037  145.00365          60
27    T20180000400   2018-01-07     20:00:00 -36.72297  147.17827         100
28    T20180000402   2018-01-08     03:00:00 -37.73044  144.96383          60
29    T20180000404   2017-12-20     07:00:00 -37.87020  144.76104          60
...            ...          ...          ...       ...        ...         ...
9505  T20180022466   2018-11-30     13:00:00 -37.97991  145.14268         999
9506  T20180022472   2018-11-30     15:00:00 -37.77860  144.97366          60
9507  T20180022475   2018-11-30     15:00:00 -38.16890  145.93211          60
9508  T20180022476   2018-11-30     13:00:00 -37.87382  145.03824          70
9509  T20180022490   2018-11-28     07:00:00 -37.80686  145.03064          40
9510  T20180022493   2018-11-28     19:00:00 -37.57081  143.86507          60
9511  T20180022503   2018-11-30     19:00:00 -37.78173  144.95958          60
9512  T20180022504   2018-11-30     21:00:00 -37.71947  145.08120          60
9513  T20180022506   2018-11-30     21:00:00 -37.64055  144.92878          80
9514  T20180022518   2018-12-01     06:00:00 -37.78795  145.27624          50
9515  T20180022521   2018-12-01     09:00:00 -37.81206  144.94515          70
9516  T20180022531   2018-12-01     10:00:00 -37.56113  145.31982          80
9517  T20180022539   2018-12-01     12:00:00 -37.98382  145.21104          60
9518  T20180022553   2018-12-01     18:00:00 -37.80924  144.95237          60
9519  T20180022557   2018-12-01     07:00:00 -37.79922  145.11826          60
9520  T20180022562   2018-12-01     22:00:00 -37.80550  144.94866          60
9521  T20180022568   2018-12-02     00:00:00 -37.68021  145.02984          50
9522  T20180022577   2018-12-02     07:00:00 -38.34673  144.26108          80
9523  T20180022579   2018-12-02     10:00:00 -38.10030  144.31096          70
9524  T20180022596   2018-12-01     18:00:00 -37.55964  143.85669          60
9525  T20180022604   2018-12-02     19:00:00 -37.96219  145.22496          80
9526  T20180022605   2018-12-02     15:00:00 -37.88019  145.16380          50
9527  T20180022617   2018-12-02     23:00:00 -37.91904  145.35173          60
9528  T20180022622   2018-12-02     22:00:00 -37.87692  144.99800          60
9529  T20180022633   2018-12-03     08:00:00 -36.08545  145.20386         100
9530  T20180022645   2018-11-30     19:00:00 -37.62825  143.88016         999
9531  T20180022657   2018-12-03     08:00:00 -37.80938  145.12556         999
9532  T20180022667   2018-11-29     12:00:00 -38.11403  144.35491          50
9533  T20180022674   2018-12-03     15:00:00 -37.70131  145.10709          30
9534  T20180022686   2018-12-03     19:00:00 -37.95431  145.02515          60

     ACCIDENTDATE_FOMAT            Datetime   Timestrap
0              20171230 2017-12-30 20:00:00  1514664000
1              20180106 2018-01-06 14:00:00  1515247200
2              20180106 2018-01-06 17:00:00  1515258000
3              20180106 2018-01-06 23:00:00  1515279600
4              20180106 2018-01-06 15:00:00  1515250800
5              20180107 2018-01-07 00:00:00  1515283200
6              20180107 2018-01-07 00:00:00  1515283200
7              20180103 2018-01-03 13:00:00  1514984400
8              20180107 2018-01-07 10:00:00  1515319200
9              20180106 2018-01-06 13:00:00  1515243600
10             20171022 2017-10-22 14:00:00  1508680800
11             20180107 2018-01-07 11:00:00  1515322800
12             20180107 2018-01-07 14:00:00  1515333600
13             20180107 2018-01-07 12:00:00  1515326400
14             20180107 2018-01-07 14:00:00  1515333600
15             20180107 2018-01-07 12:00:00  1515326400
16             20171226 2017-12-26 17:00:00  1514307600
17             20180107 2018-01-07 18:00:00  1515348000
18             20180107 2018-01-07 16:00:00  1515340800
19             20180107 2018-01-07 08:00:00  1515312000
20             20180107 2018-01-07 08:00:00  1515312000
21             20180107 2018-01-07 17:00:00  1515344400
22             20180107 2018-01-07 19:00:00  1515351600
23             20180107 2018-01-07 16:00:00  1515340800
24             20180107 2018-01-07 17:00:00  1515344400
25             20180107 2018-01-07 20:00:00  1515355200
26             20180107 2018-01-07 20:00:00  1515355200
27             20180107 2018-01-07 20:00:00  1515355200
28             20180108 2018-01-08 03:00:00  1515380400
29             20171220 2017-12-20 07:00:00  1513753200
...                 ...                 ...         ...
9505           20181130 2018-11-30 13:00:00  1543582800
9506           20181130 2018-11-30 15:00:00  1543590000
9507           20181130 2018-11-30 15:00:00  1543590000
9508           20181130 2018-11-30 13:00:00  1543582800
9509           20181128 2018-11-28 07:00:00  1543388400
9510           20181128 2018-11-28 19:00:00  1543431600
9511           20181130 2018-11-30 19:00:00  1543604400
9512           20181130 2018-11-30 21:00:00  1543611600
9513           20181130 2018-11-30 21:00:00  1543611600
9514           20181201 2018-12-01 06:00:00  1543644000
9515           20181201 2018-12-01 09:00:00  1543654800
9516           20181201 2018-12-01 10:00:00  1543658400
9517           20181201 2018-12-01 12:00:00  1543665600
9518           20181201 2018-12-01 18:00:00  1543687200
9519           20181201 2018-12-01 07:00:00  1543647600
9520           20181201 2018-12-01 22:00:00  1543701600
9521           20181202 2018-12-02 00:00:00  1543708800
9522           20181202 2018-12-02 07:00:00  1543734000
9523           20181202 2018-12-02 10:00:00  1543744800
9524           20181201 2018-12-01 18:00:00  1543687200
9525           20181202 2018-12-02 19:00:00  1543777200
9526           20181202 2018-12-02 15:00:00  1543762800
9527           20181202 2018-12-02 23:00:00  1543791600
9528           20181202 2018-12-02 22:00:00  1543788000
9529           20181203 2018-12-03 08:00:00  1543824000
9530           20181130 2018-11-30 19:00:00  1543604400
9531           20181203 2018-12-03 08:00:00  1543824000
9532           20181129 2018-11-29 12:00:00  1543492800
9533           20181203 2018-12-03 15:00:00  1543849200
9534           20181203 2018-12-03 19:00:00  1543863600

[9535 rows x 9 columns]

In [453]:
#https://api.weather.com/v1/geocode/-37.688/144.841/observations/historical.json?apiKey=6532d6454b8aa370768e63d6ba5a832e&startDate=20060101&endDate=20060102&units=e
base_url = 'https://api.weather.com/v1/geocode/'
format_url = '/observations/historical.json?units=e'
api_key = '&apiKey=6532d6454b8aa370768e63d6ba5a832e'

In [454]:
def nearest(items, pivot):
    return min(items, key=lambda x: abs(x - pivot))

In [470]:
print(df.head())

    ACCIDENT_NO ACCIDENTDATE ACCIDENTTIME       Lat       Long  SPEED_ZONE  \
0  T20060000010   2006-01-13     12:00:00 -37.98862  145.21805          60
1  T20060000018   2006-01-13     19:00:00 -37.99092  145.27632          70
2  T20060000022   2006-01-14     12:00:00 -38.39632  144.85489         100
3  T20060000023   2006-01-14     11:00:00 -37.98918  145.14496          80
4  T20060000026   2006-01-14     10:00:00 -38.37299  144.87159          50

  ACCIDENTDATE_FOMAT            Datetime   Timestrap  snowing  raining  foggy  \
0           20060113 2006-01-13 12:00:00  1137153600        0        0      0
1           20060113 2006-01-13 19:00:00  1137178800        0        0      0
2           20060114 2006-01-14 12:00:00  1137240000        0        0      0
3           20060114 2006-01-14 11:00:00  1137236400        0        0      0
4           20060114 2006-01-14 10:00:00  1137232800        0        0      0

   smoke  dust  strong_winds wind_dir wind_speed  temperature
0      0     0             0      SSE         12           65
1      0     0             0      SSW         16           68
2      0     0             0      SSW         14           67
3      0     0             0                                0
4      0     0             0                                0

In [474]:
df.reset_index(level=None,drop=True, inplace=True)
# for i in range(df.shape[0]):
df['snowing'] = 0
df['raining'] = 0
df['foggy'] = 0
df['smoke'] = 0
df['dust'] = 0
df['strong_winds'] = 0
df['wind_dir'] = ''
df['wind_speed'] = ''
df['temperature'] = 0

for i in range(3):
    url = base_url + str(df['Lat'][i]) + '/' + str(df['Long'][i]) + format_url + '&startDate=' + df['ACCIDENTDATE_FOMAT'][i] + '&endDate=' + df['ACCIDENTDATE_FOMAT'][i] + api_key
    print(url)
    print(df['ACCIDENT_NO'][i])
    print(df['Lat'][i], df['Long'][i])
    res = requests.get(url).json()
#     time.sleep(1)
    
    while res['metadata']['status_code'] != 200:
        url = base_url + '-37.' + str(randint(0, 9999)) + '/' + '144.' + str(randint(0, 999)) + format_url + '&startDate=' + df['ACCIDENTDATE_FOMAT'][i] + '&endDate=' + df['ACCIDENTDATE_FOMAT'][i] + api_key
        try:
            res = requests.get(url).json()
        except:
            pass
    
#     if r['metadata']['status_code'] != 200:
#         url = base_url + '-37.' + str(randint(0, 9999)) + '/' + '144.' + str(randint(0, 999)) + format_url + '&startDate=' + df['ACCIDENTDATE_FOMAT'][i] + '&endDate=' + df['ACCIDENTDATE_FOMAT'][i] + api_key
#         print(url)
#         res = requests.get(url).json()
# #         time.sleep(1)
#     else:
#         res = r
#     if res['metadata']['status_code'] == 400:
#         time.sleep(2)
#         res = requests.get(url).json()

    w_date = []
    print(res['metadata']['status_code'])
    for j in range(len(res['observations'])):
        ts = int(res['observations'][j]['valid_time_gmt'])
        w_time = datetime.utcfromtimestamp(ts)
        w_time = w_time + timedelta(hours=11)
        w_date.append(w_time)
    getDate = nearest(w_date, df['Datetime'][i])
    for k in range(len(w_date)):
        if getDate == w_date[k]:
            df['wind_dir'][i] = res['observations'][k]['wdir_cardinal']
            df['wind_speed'][i] = res['observations'][k]['wspd']
            df['temperature'][i] = res['observations'][k]['temp']
    
    getWeather = ms.ExecQuery("""
                   SELECT ATMOSPH_COND FROM ATMOSPHERIC_COND WHERE ACCIDENT_NO = '%s'
                   """ % (df['ACCIDENT_NO'][i]))
    get_weather = getWeather[0][0]
    if get_weather == 2:
        df['raining'][i] = 1
    elif get_weather == 3:
        df['snowing'][i] = 1
    elif get_weather == 4:
        df['foggy'][i] = 1
    elif get_weather == 5:
        df['smoke'][i] = 1
    elif get_weather == 6:
        df['dust'][i] = 1
    elif get_weather == 7:
        df['strong_winds'][i] = 1
    else:
        print('Sunny day')
    print(df.loc[[i]])
#     with open('my_csv.csv', 'a') as f:
#         f.write(df.iloc[i].values)
    df.iloc[[i]].to_csv('my_csv.csv', mode='a', header=False)
#     try:
#         ms.ExecNonQuery("""
#                     INSERT INTO accident_weather 
#                         (accident_no, wind_dir, wind_speed, temperature, snowing, raining, foggy, smoke, dust, strong_winds)
#                             VALUES ('%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s')
#                     """ % (df['ACCIDENT_NO'][i], df['wind_dir'][i], df['wind_speed'][i], df['temperature'][i], df['snowing'][i], df['raining'][i], df['foggy'][i], df['smoke'][i], df['dust'][i], df['strong_winds'][i]))
#     except:
#         print('Add data error')
#     df.drop(index=i, inplace=True)

https://api.weather.com/v1/geocode/-37.98862/145.21805/observations/historical.json?units=e&startDate=20060113&endDate=20060113&apiKey=6532d6454b8aa370768e63d6ba5a832e
T20060000010
-37.98862 145.21805
200
Sunny day
    ACCIDENT_NO ACCIDENTDATE ACCIDENTTIME       Lat       Long  SPEED_ZONE  \
0  T20060000010   2006-01-13     12:00:00 -37.98862  145.21805          60

  ACCIDENTDATE_FOMAT            Datetime   Timestrap  snowing  raining  foggy  \
0           20060113 2006-01-13 12:00:00  1137153600        0        0      0

   smoke  dust  strong_winds wind_dir wind_speed  temperature
0      0     0             0      SSE         12           65
https://api.weather.com/v1/geocode/-37.99092/145.27632/observations/historical.json?units=e&startDate=20060113&endDate=20060113&apiKey=6532d6454b8aa370768e63d6ba5a832e
T20060000018
-37.99092 145.27632
200
Sunny day
    ACCIDENT_NO ACCIDENTDATE ACCIDENTTIME       Lat       Long  SPEED_ZONE  \
1  T20060000018   2006-01-13     19:00:00 -37.99092  145.27632          70

  ACCIDENTDATE_FOMAT            Datetime   Timestrap  snowing  raining  foggy  \
1           20060113 2006-01-13 19:00:00  1137178800        0        0      0

   smoke  dust  strong_winds wind_dir wind_speed  temperature
1      0     0             0      SSW         16           68
https://api.weather.com/v1/geocode/-38.39632/144.85489/observations/historical.json?units=e&startDate=20060114&endDate=20060114&apiKey=6532d6454b8aa370768e63d6ba5a832e
T20060000022
-38.39632 144.85489
200
Sunny day
    ACCIDENT_NO ACCIDENTDATE ACCIDENTTIME       Lat       Long  SPEED_ZONE  \
2  T20060000022   2006-01-14     12:00:00 -38.39632  144.85489         100

  ACCIDENTDATE_FOMAT            Datetime   Timestrap  snowing  raining  foggy  \
2           20060114 2006-01-14 12:00:00  1137240000        0        0      0

   smoke  dust  strong_winds wind_dir wind_speed  temperature
2      0     0             0      SSW         14           67